.snackbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    top: 5px;
    height: 40px;
    width: 95%;
    background-color: #F9E7E6;
    color: #FF2E00;
    text-align: left;
    border-radius: 2px;
    border: 1px solid #DE554C;
    padding: 8px 8px 8px 44px;
    z-index: 1;
    margin: 0px 5px;
    font-size: 1.1rem;
    line-height: 17px;;
    }