.room-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.room-container > button {
    align-self: center;
}

.frame {
    min-width: 100vw;
    min-height: 100vh;
}

.btn-style {
    position: relative;
    z-index: 0;
}