.room-container {
    display: flex;
    flex-direction: column;
    background-color: #1a1919;
}

.room-container > button {
    align-self: center;
}

.frame {
    min-width: 100vw;
    min-height: 100vh;
}